
    



body{
    background-color: black;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color:white;
    height: 40px;
    width: 500px;
    margin-top: 580px;
    margin-left: 500px;
    
    
  
  }

  .paragraf{

    color:white;
    margin-left:550px;
    margin-bottom:400px;

  }

  .slika{
    margin-top: 700px;
    margin-left: 500px;
    height:auto;
    width:auto;
  }

  